#mainDiv{
	padding:25px;
	width:100%;
	min-height:100px;
	background-color:white;
	text-align:center;
	color: red;
	font-family:jokerman;
	background-color:white;
	margin-top:0px;
	margin-left: -20px;
	margin-right: 20px;
}
nav-link a:Register
{
	
	text-align:right;
}
